* {
  box-sizing: border-box;
}
html,
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
form {
  border: 1px solid #ccc;
}
input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}
.submitbtn {
  align-self: center;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 0px;
  border: none;
  cursor: pointer;
  opacity: 1;
  width: 50%;
  border: 1px solid #f1f1f1;
}
.submitbtn:hover {
  transition: 0.1s;
  background-color: #3e8540;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
ul {
  padding: 0 10px !important;
}

ul li {
  list-style: none;
  padding: 15px;
  margin-bottom: 10px;
  background: #fcfcfc;
  border: 1px solid silver;
  border-radius: 5px;
}

ul li:hover {
  background: #e5e5e5;
}

ul li button {
  border: 0;
  padding: 5px 15px;
  color: white;
  font-size: 13px;
  background: #db5757;
  position: relative;
  left: 130px;
  border-radius: 5px;
}

ul li button:hover {
  background: #a04141;
}
.form-error {
  color: red;
}
.form-success {
  color: green;
}
.input-error {
  box-shadow: 0 0 5px red;
}
